{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<h3 class="text-secondary fst-italic p-4"> Информация для любителей сайта Texnomart</h3>
<div class="fst-italic">
<div data-v-08f6a0dc="" class="content-text"><div class="purchase-installments">
<div class="title">Как купить в рассрочку в TEXNOMART?</div>

<div class="text">Мы предусмотрели для наших клиентов всё, чтобы сделать нудную процедуру покупки в нашем магазине максимально простой и доступной. Вы можете приобрести бытовую технику в рассрочку сроком от 12 до 24 месяцев без предоплаты. А еще у texnomart имеется сертификат Халяль.</div>

<div class="mini-title">Вы можете приобрести товар несколькими способами:</div>

<ol class="info-list">
	<li>В одном из наших <a href="https://texnomart.uz/ru/shops-map">магазинов</a></li>
	<li>Заказать онлайн на нашем сайте в пару кликов</li>
</ol>

<div class="mini-title">Для покупки онлайн вам потребуется:</div>

<ol class="info-list">
	<li>Пройти регистрацию на сайте</li>
	<li>Выбрать необходимый товар в онлайн-магазине</li>
	<li>Заполнить запрашиваемые поля</li>
	<li>После удачной процедуры оформления - Вам перезвонит оператор и подтвердит заказ</li>
</ol>

<div class="mini-title">Необходимые документ для оформления рассрочки?</div>

<div class="text">Для оформления рассрочки потребуется только ваш паспорт.</div>

<div class="mini-title">До скольки работает контакт центр?</div>

<div class="text">Режим работы контакт центра: каждый день с 9:00 до 21:00.</div>

<div class="text">Будем рады ответить на ваши вопросы по телефону <a href="tel:+998712099944">+998 71 209 99 44</a></div>
</div>
</div>
</div>
{% endblock main %}